@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --gradient: linear-gradiente  
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}



body {
  background-color: #fff;
}

header {
  width: 100%;
  height: 100px;
  background-color: #0088B2;
  border-bottom: 5px solid #0088B2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

header h1 {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

header input {
  height: 28px;
  border: none;
  padding: 0px 10px;
  outline: none;
}

header i {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
  transition: all .3s;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #0193BA;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 100;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: 600;
  transition: all .3s;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: max-content;
  background-color: #f1f1f1;
  margin-top: 100px;
}

main section {
  width: 90%;
  height: 400px;
  background-color: #f1f1f1;
  border-radius: 24px;
  padding: 35px;
  margin: auto;
  margin-bottom: 50px;
}
#footer{
  width: 100%;
  height: 250px;
  background: #0193BA;
  padding: 30px;
  display: flex;
  gap: 30px;
  align-self: center;
  justify-content: space-between;
}
#left, #right{
  width: 50%;
  height: 200px;
  padding: 30px;
}
#left h1{
  color: white;
  font-size: 28px;
  font-weight: 600;
}
#contato i{
  color: white;
  font-size: 26px;
  margin: 5px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

#instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

#facebook{
  background-color: #1771E6;
}

#whatsapp{
  background-color: #34D251;
}

#left p{
  color: white;
  font-size: 18px;
  margin-top: 5px;
}
#right h1{
  color: white;
  font-size: 28px;
  font-weight: 600;
}
#right p{
  color: white;
  font-size: 18px;
  margin-top: 5px;
}